@import url("loader.css");
@import url("../libs/flags/flags.css");

* {
    box-sizing: border-box;
}
body {
    margin: 0;
	padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	min-width: 300px;
    line-height: 1.75;
	opacity: 1;
}
.separator {
    width: 100px;
    height: 3px;
    margin: auto;
    background-color: #181818;
    margin-bottom: 50px;
}
.mycontainer {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.myrow:after {
    clear: both;
    content: "";
    display: table;
}
.mycol-4 {
    width: 360px;
    margin-right: 30px;
    margin-bottom: 40px;
    float: left;
}
.mycol-4:nth-child(3n) {
    margin-right: 0px;
}


.header {
    background: #293225;
    background: url(../img/header/forest.jpg) no-repeat center;
    background-size: cover;
    
    height: 100vh;
    min-height: 400px;
    position: relative;
}
.top-header {
    padding-top: 40px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
}
.disabled {
    cursor: default;
}
.signin {
    display: inline-block;
    margin-right: 30px;
}
.signin-insaider {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: bold;
    text-transform: uppercase;
    
    background-color: transparent;
    color: #293225;
    
    margin: 0px;
    padding: 4px 12px 4px 12px;
    cursor: pointer;
}
.signin-insaider:hover {
    color: white;
    border-color: white;
    transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}
.signin-insaider a {
    text-decoration: none;
    color: #293225;
}
.signin-insaider:hover a {
    text-decoration: none;
    color: white;
    transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}
.langs {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #293225;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
.langs p {
    margin: 0;
    padding: 4px 10px 4px 10px;
}
.langs a {
    text-decoration: none;
    color: #293225;
}
.langs:hover {
    cursor: pointer;
    color: white;
    text-decoration-color: white;
    transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}
.langs:hover a {
    text-decoration: none;
    color: white;
    transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
}
.header-wrapper {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: calc((100vh - 340px)/2);
    left: calc((100% - 330px)/2);
}
.header-block {
    border-radius: 10px;
    width: 330px;
    height: 340px;
    background-color: white;
    position: relative;
    opacity: .9;
}
.header-img {
    margin-top: 30px;
    margin-left: 115px;
    border-radius: 50%;
}
.block-text {
    text-align: center;
    color: #293225;
}
.block-text h1 {
    font-size: 40px;
    margin: 0px;
}
.block-text h2 {
    font-size: 15px;
    margin: 0px;
    letter-spacing: .3px;
}
.block-social {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-social a {
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    color: #293225;
}
.block-social a:last-child {
    margin-right: 0px;
}
.block-social a:first-child:hover {color: #3b5998;}
.block-social a:nth-child(2):hover {color: #007bb5;}
.block-social a:nth-child(3):hover {color: #2AA1DA;}
.block-social a:nth-child(4):hover {color: #323366;}
.block-social a:nth-child(5):hover {color: #000;}
.block-social a:last-child:hover {color: #000;}
.block-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #293225;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.block-menu div {
    height: 100%;
    width: 109px;
    border-right: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.block-menu div:nth-child(2) {
    margin-left: -3px;
}
.block-menu div:last-child {
    border-right: none;
    margin-left: -3px;
}
.block-menu div:hover {
    background-color: black;
    opacity: 1;
    cursor: pointer;
}
.block-menu div:hover:first-child {
    border-bottom-left-radius: 10px;
}
.block-menu div:hover:last-child {
    border-bottom-right-radius: 10px;
}
.block-menu span a {
    text-decoration: none;
    color: white;
}


.about {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    width: 100%;
    height: 75vh;
    margin-bottom: 100px;
    position: relative;
}
.about-name {
    margin-bottom: 10px;
    text-align: center;
}
.about-text {
    font-size: 18px; 
}
.about-buttons {
    margin-top: 40px;
}
.about-buttons_cv {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: black;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    
    border-bottom: 2px solid black;
    margin: 0px;
    margin-right: 10px;
    padding: 10px 22px 6px 22px;
    cursor: pointer;
}
.about-buttons_cv:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
}
.about-buttons_cv a {
    text-decoration: none;
    color: black;
}
.about-buttons_cv:hover a {
    text-decoration: none;
    color: white;
}
.about-buttons_hire {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: black;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    
    border-bottom: 2px solid black;
    margin: 0px;
    margin-left: 10px;
    padding: 10px 25px 6px 25px;
    cursor: pointer;
}
.about-buttons_hire:hover {
    background-color: black;
    cursor: pointer;
    transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
}
.about-buttons_hire a {
    text-decoration: none;
    color: black;
}
.about-buttons_hire:hover a {
    text-decoration: none;
    color: white;
}


.portfolio {
    background-color: #F6F6F6;
    background: url(../img/patterns/crossword.png);
    height: 200vh;
    width: 100%;
}
.portfolio-wrapper {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
}
.portfolio-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.portfolio-content {
    max-width: 100%;
    height: 290px;
}
.portfolio-content a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}


.contact {
    background: url(../img/footer/water.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
}

.contact-name {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-wrapper {
    margin-top: -30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    padding-top: 30px;
    text-align: center;
    display: inline-block;
    width: 330px;
    height: 380px;
    opacity: .9;
}

.forms {
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.forms:hover {
    background-color: #164C52;
    border-color: #164C52;
}

.forms-text {
    height: 30px;
}

.forms-buttons {
    margin-top: 50px;
    width: 162px;
    height: 30px;
    color: white;
    background-color: #164C52;
    border: 1px solid #164C52;
    border-radius: 10px;
}

.forms-buttons:hover {
    background-color: #21747D;
    border-color: #1D636B;
    box-shadow: 5px 5px 5px #164C52;
}

.footer {
    background-color: #141615;
    font-family: 'Roboto', sans-serif;
}

.footer-text {
    display: inline-block;
    margin-top: 15px;
    margin-left: 8px;
}

.footer-text a {
    margin-right: 10px;
    text-decoration: none;
    color: #164C52;
}

.footer-text a:hover {
    text-decoration: none;
    color: #21747D;
}

.footer-social {
    display: inline-block;
    float: right;
    margin-top: 15px;
    margin-right: 8px;
}

.footer-social a {
    margin-left: 8px;
    text-decoration: none;
    color: #164C52;
}

.footer-social a:hover {text-decoration: none;}
.footer-social .fa-facebook-official:hover {color: #3b5998;}
.footer-social .fa-linkedin-square:hover {color: #007bb5;}
.footer-social .fa-telegram:hover {color: #2AA1DA;}
.footer-social .fa-envelope:hover {color: #323366;}
.footer-social .fa-github-square:hover {color: #000;}
.footer-social .fa-codepen:hover {color: #000;}

.footer-rights {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#hr {
    border-color: #164C52;
}

.footer-rights p {
    display: inline-block;
    margin: 0px;
    padding-right: 8px;
    padding-bottom: 10px;
    color: #164C52;
}

.footer-rights p a {
    text-decoration: none;
}




