/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1300px) {
    
}


/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {    
    .mycontainer {
        width: 770px;
        margin-left: auto;
        margin-right: auto;
    }

    .mycol-4 {
        width: 360px;
        margin-right: 50px;
        margin-bottom: 40px;
        float: left;
    }

    .mycol-4:nth-child(2n) {
        margin-right: 0px;
    }
    
    .mycol-4:nth-child(4) {
        margin-left: 50px;
    }
}

@media only screen and (max-width : 1100px) {
    
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

@media only screen and (max-width : 880px) {
    
}

@media only screen and (max-width : 800px) {
    .mycontainer {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .mycol-4 {
        width: 360px;
        margin-right: 0px;
        margin-bottom: 40px;
        float: left;
    }
    
    #portfolio-tabs .tabs {
        height: 200px;
    }
    
    #portfolio-tabs .tabs .tab:nth-child(2) {
        margin-left: -82px;
        margin-top: 38px;
    }
    
    #portfolio-tabs .tabs .tab:nth-child(3) {
        margin-left: -156px;
        margin-top: 76px;
    }
    
    #portfolio-tabs .tabs .tab:nth-child(4) {
        margin-left: -187px;
        margin-top: 114px;
    }
    
    .mycol-4:nth-child(4) {
        margin-left: 0px;
    }
    
    .portfolio {
        height: 300vh;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .about-about {
        margin-left: 5px;
    }
}

@media only screen and (max-width : 518px) {
    .about-buttons_hire {
        margin-top: 15px;
    }
    
    .about {
        height: 80vh;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .footer-social {
        display: block;
        float: none;
    }
}

@media only screen and (max-width : 425px) {
    .about {
        height: 85vh;
    }
}

@media only screen and (max-width : 380px) {
    .mycontainer {
        width: 100%;
    }
    
    .mycol-4 {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
    
    
    
    
    
    
    
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    