@import url(loader.css);

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif!important;
    background: linear-gradient(to bottom, #273c75, #2B4180)!important;
}
a {
    transition: .3s ease-out;
    -o-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    text-decoration: none;
}
a:hover {
    text-decoration: none!important;
    color: white!important;
}

.mycontainer {
    height: 100%;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.mycontainer2 {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    width: 100%;
    height: 70px;
    background-color: #171A35;
    color: #C6C4C2;
}
.header a {
    color: #C6C4C2;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.header-1block {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-1block a:first-child {
    margin-right: 60px;
}
.header-1block a:nth-child(2) {
    margin-right: 40px;
}
.header-1block a:nth-child(3) {
    margin-right: 60px;
}
.header-social {
    margin: 0;
    padding: 0;
    display: flex;
}
.header-social li {
    width: 50px;
}

.header-2block {
    
}
.header-2block ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-2block ul li {
    margin-right: 30px;
}
.header-2block ul li:last-child {
    margin-right: 0px;
}

.header2 {
    height: 60px;
    background-color: #192a56;
    margin-bottom: 30px;
}
.header2-container {
    height: 100%;
}
.header2 ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.header2 ul li {
    margin-right: 60px;
}
.header2 ul li:nth-child(6) {
    margin-right: auto;
}
.header2 ul li:last-child {
    margin-right: 0;
}
.header2 ul li a {
    color: #C6C4C2;
    font-weight: bold;
}
.header2 ul li a:hover {
    color: white!important;
}
.mycarousel {
    margin-bottom: 80px;
}

.mycontainer3 {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.bar {
    width: 22%;
    height: 650px;
    background-color: #192A56;
}
.bar-container {
    width: 100%;
    height: 100%;
}
.bar-container div {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.bar-container div {
    margin-top: 80px;
    color: white;
}
.bar-container div:first-child {
    margin-top: 40px;
}
.bar-container ul {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.bar-container ul li {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.bar-container ul li a {
    text-decoration: none;
    color: #C6C4C2;
}

.table {
    display: flex;
    flex-wrap: wrap;
    margin-left: 49px;
}
.table div {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}
.table div:nth-child(3n) {
    margin-right: 0px;
}
.table div img {
    width: 275px;
    position: relative;
}
.table div a:nth-child(2) {
    margin-top: 10px;
    text-decoration: none!important;
    color: white!important;
    position: absolute;
    margin-top: 120px;
    margin-left: 20px;
}
.table div span {
    margin-top: 10px;
    color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 220px;
}

footer {
    margin-bottom: 10px;
    color: white;
}









