/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 1020px) {
    
}

@media only screen and (max-width : 900px) {
    
}

@media only screen and (max-width : 800px) {
    
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    
}

@media only screen and (max-width : 600px) {
    
}

/* SAD CAT */
@media only screen and (max-width : 590px) {
    .sadcat img {
        width: 400px;
    }
    
    .sadcat span {
        font-size: 20px;
    }
}

@media only screen and (max-width : 550px) {
    
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
    
}

    
/* SAD CAT */
@media only screen and (max-width : 451px) {
    .sadcat img {
        width: 350px;
    }
    
    .sadcat span {
        font-size: 18px;
    }
}

@media only screen and (max-width : 430px) {
    
}

@media only screen and (max-width : 380px) {
    .sadcat img {
        width: 250px;
    }
    
    .sadcat span {
        font-size: 15px;
    }
}

@media only screen and (max-width : 350px) {
    
}
    


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}


